---
---
<div
  class="text-muted text-sm bg-[#dbeafe] dark:bg-slate-800 dark:text-slate-400 hidden md:block overflow-hidden px-3 py-2 relative text-ellipsis whitespace-nowrap"
>
  <span class="bg-blue-600 font-semibold px-1 py-0.5 text-white text-xs inline-block mr-2">NEW</span>
  <a href="/blog" class="text-muted hover:underline dark:text-slate-400 font-medium"
    >最新の活動報告（令和8年3月）を更新しました！ »</a
  >
</div>